.table {
  .tbody {
    .tr {
      .td {
        padding: 0;

        > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          
          .lockIcon {
            margin-left: 6px;
            flex-shrink: 0;
          }

          .errorIcon {
            color: var(--color-danger-d1);
            margin-right: 6px;
            stroke-width: 1.5px;
            --size: 16pt;
          }
        }

        &:first-child {
          width: 35%;
        }

        &:last-child {
          width: 65%;
        }
      }
    }
  }

  .inputRoot {
    width: 100%;

    .input {
      &[data-has-error=true] {
        color: var(--color-danger-d1);
      }
      
      &:not(:focus) {
        background-color: transparent;
      }

      &[data-name=true] {
        font-weight: 600;
      }
      &:not([data-name=true]) {
        color: var(--color-secondary-d3);
      }
    }
  }
}
