@use "../../node_modules/@substrate-system/css-normalize/dist/index.min.css" as *;

@use "vars" as *;
@use "mantine" as *;

:root {
  font-family: var(--font-segoe);
}

button,
[role=button] {
  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

button {
  background: unset;
  border: unset;
  text-align: unset;
  padding: 0;
}

.lucide {
  --size: 15pt;

  stroke-width: 1px;
  width: var(--size);
  height: var(--size);
}

h5 {
  font-size: 10pt;
  font-weight: 600;
  margin: 12px 0;
}
