.editTooltip {
  background-color: rgba(#fff, 0.6);
  border: 1px solid rgba(#fff, 0.7);
  width: 120px;
  white-space: pre-wrap;
  display: block;

  &::before {
    width: 0;
    height: 0;
    top: -1px;
    border-bottom-color: rgba(white, 0.75);
  }
}
