.point {
  background-color: var(--color-primary);
  border: 1px solid white;
  box-shadow: 0 0 0 1px var(--color-primary-d1);
}

.activePoint,
.activeMovablePoint {
  background-color: var(--col-gj-active);
  border: 2px solid white;
  box-shadow: 0 0 0 2px var(--col-gj-active-d1);
}

.activeMovablePoint {
  cursor: move !important;
}

.vertex,
.firstVertex,
.nextVertex {
  border-radius: 50%;
  margin: -8px 0 0 -8px;
  width: 12px;
  height: 12px;
  outline: 0;
  transition: opacity ease 0.35s;
  
  background-color: #fff;
  border: 1px solid var(--col-gj-active-d1);
}

.firstVertex {
  border-width: 5px;
  border-color: var(--col-gj-active);
  box-shadow: 0 0 0 1px black;
  //background-color: var(--col-gj-active-l1);
}

.nextVertex {
  border-width: 2px;
}

.pointLabel,
.polygonLabel {
  > div {
    position: relative;

    > div {
      color: #333;
      white-space: nowrap;
      width: fit-content;
      height: fit-content;
    }

    > div:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-text-stroke: 2px white;
      text-shadow: 0px 0px 3px white;//, 0px 0px 8px var(--color-primary);
    }

    > div:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.pointLabel {
  > div > div {
    translate: calc(-50% + 5px) -18px;
  }
}

.polygonLabel {
  > div > div {
    translate: calc(-50% + 5px) 0;
  }
}
