.wrapper {
  display: flex;
  flex-direction: row;
  padding: 2px 0;
  align-items: center;

  .label {
    display: flex;
    flex-direction: row;
    gap: 0.2em;

    svg {
      color: var(--color-primary);
    }
  }

  > :not(.label) {
    flex: 1;
  }
}
