.panel {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  &:not(:hover) .hoverOnly {
    display: none;
  }

  p {
    font-size: 9pt;
  }

  > .header {
    padding: 12px 6px;

    p {
      font-weight: 600;
      font-size: 14pt;
    }
  }

  > .treeContainer {
    flex: 1;
    padding: 4px 0;
  }

  > .ribbon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding: 4px;
    border-bottom: 1px solid var(--color-frame);
  }
}

.element {
  --hierarchy-bar-color: var(--color-secondary-l4);
  --col-bg: transparent;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 28px;
  padding: 4px 8px 4px 0;
  gap: 4px;

  background-color: var(--col-bg);
  border: 1px solid transparent;

  &:hover {
    --col-bg: var(--color-secondary-l5);
  }

  &[data-selected=true] {
    --col-bg: var(--color-primary-l2);
    --hierarchy-bar-color: var(--color-primary-l1);
  }

  &[data-drop-target=inside] {
    --col-bg: var(--color-primary);
    --hierarchy-bar-color: var(--color-primary-d2);
    border: 1px solid var(--color-primary-d2);
  }

  &[data-valid-drop-target=false] {
    --col-bg: var(--color-secondary-l4);
    --hierarchy-bar-color: var(--color-secondary-l2);
    color: var(--color-secondary-l1);
  }

  > .dropTarget {
    position: absolute;
    z-index: 10;
    height: 4px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary-d2);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 100%;
  }

  > .hierarchy {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    .bar {
      width: calc(100% - 2px);
      height: 2px;
      background-color: var(--hierarchy-bar-color);
    }
  }

  > .collapseContainer {
    @include center-content;
    
    width: 16px;
    flex-shrink: 0;

    > .collapseButton {
      &:hover {
        color: var(--color-primary-d2);
        
        > :global(.icon) {
          font-size: 22pt;
        }
      }

      > :global(.icon) {
        @include center-content;

        width: 16px;
        height: 16px;
        font-size: 16pt;
        padding-top: 2px;
      }
    }
  }

  > .type {
    width: 16px;
    margin-right: 6px;
    color: var(--color-secondary-d2);

    :global(.lucide) {
      //stroke-width: 1.5px;
    }
  }

  .name {
    flex: 1;
  }

  > .ribbon {
    position: absolute;
    right: 8px;
    display: flex;
    background-color: var(--col-bg); // if --col-bg is transparent, then this is white.
    padding-left: 4px;

    > button {
      @include center-content;
      color: var(--color-secondary);

      :global(.lucide) {
        --size: 12.5pt;
        stroke-width: 1.25px;
      }

      &:hover {
        color: var(--color-primary);

        :global(.lucide) {
          stroke-width: 1.75px;
        }
      }
    }
  }
}

.element.folder {
  .name p {
    font-weight: 600;
  }
}

.folderContent {
  &[data-visible=false] {
    display: none;
  }
  
  &[data-drop-target=in] {
    background-color: var(--color-primary-l1);
  }
}
