.panel {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  &:not(:hover) :global(.hoverOnly) {
    display: none;
  }

  p {
    font-size: 9pt;
  }

  > .header {
    padding: 12px 6px;

    p {
      font-weight: 600;
      font-size: 14pt;
    }
  }

  > .treeContainer {
    flex: 1;
    padding: 8px 0;
    min-height: auto;

    .content {
      padding-bottom: 16px;
    }
  }
}
